@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-black: #151719;
	--primary-blue: #5d5dff;
	--priamry-green: #36a269;
	--primary-white: #fff;
	--secondary-gray: #9ba9b4;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Inter', sans-serif;
	background: var(--primary-black);
	color: var(--primary-white);
}
.flex {
	display: flex;
}
.header {
	justify-content: space-between;
	align-items: center;
	padding: 3rem 10rem;
}
.logo {
	width: 200%;
}
.nav_list {
	gap: 3rem;
	list-style: none;
}
.nav_link {
	text-decoration: none;
	color: var(--primary-blue);
	font-size: 1.5rem;
}
.sign_in:hover {
	color: var(--primary-white);
}
.sign_up {
	background: var(--primary-blue);
	color: var(--primary-white);
	padding: 1rem 2rem;
	transition: all 0.3ms ease-out;
}
.sign_up:hover {
	background: var(--primary-white);
	color: var(--primary-blue);
}
.section_hero {
	padding: 0 10rem;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10rem;
	display: grid;
}
.hero_box {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.hero_text {
	font-size: 4rem;
	margin-bottom: 1.5rem;
}
.hero_paragraph {
	font-size: 1.5rem;
	color: rgba(155, 169, 180, 1);
	text-align: center;
	margin-bottom: 2rem;
}
.btn-con {
	gap: 2rem;
}
.btn {
	padding: 1rem 2.5rem;
	border: none;
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	cursor: pointer;
}
.btn_start {
	background: var(--primary-blue);
	color: var(--primary-white);
}
.btn_start:hover {
	background: var(--primary-white);
	color: var(--primary-blue);
}
.btn_learn {
	background: rgba(51, 54, 58, 1);
	color: var(--primary-white);
}
.btn_learn:hover {
	color: var(--primary-black);
	background: var(--primary-white);
}
.image-con {
	justify-content: center;
	align-items: center;
	display: flex;
}
.hero_image {
	width: 70%;
}
.section_feature {
	padding: 0 10rem;
	flex-direction: column;
	margin-top: 5rem;
	margin-bottom: 7rem;
}
.feature_head {
	justify-content: center;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 3.2rem;
}
.feature_text {
	text-align: center;
	font-size: 1.7rem;
	color: rgba(155, 169, 180, 1);
}
.grid_con {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-top: 5rem;
}
.feature_item {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.feature_icon {
	width: 10%;
}
.feature_subhead {
	font-size: 2.1rem;
	margin: 1rem 0;
}
.feature_subtext {
	font-size: 1.5rem;
	text-align: center;
	color: rgba(155, 169, 180, 1);
}
hr {
	margin-top: 4rem;
	border-color: var(--secondary-gray);
}
.section_solution {
	padding: 0 10rem;
}
.head {
	justify-self: center;
	align-items: center;
	flex-direction: column;
}
.small_title {
	text-align: center;
	padding: 5px 10px;
	background: rgba(198, 246, 213, 1);
	color: var(--priamry-green);
	margin-bottom: 1rem;
	border-radius: 50px;
	font-weight: bold;
}
.solution_headline {
	font-size: 3.7rem;
	text-align: center;
	margin-bottom: 1rem;
}
.solution_headline_text {
	text-align: center;
	font-size: 1.5rem;
	color: rgba(155, 169, 180, 1);
}
.solution_grid {
	margin-top: 7rem;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 6rem;
}
.solution_subheading {
	color: var(--primary-blue);
	font-style: italic;
	font-family: 'Architects Daughter', cursive;
	font-size: 3rem;
}
.solution_subtitle {
	font-size: 3rem;
	margin-bottom: 1rem;
}
.solution_subtitle_paragraph {
	font-size: 1.7rem;
	color: var(--secondary-gray);
	line-height: 1.2;
	margin-bottom: 2rem;
}
.solution_order_list {
	list-style: none;
}
.solution_order_list li {
	color: var(--secondary-gray);
	margin-bottom: 1rem;
}
.mark_path {
	margin-right: 1rem;
}
.illustration {
	width: 100%;
}
.feedback_section {
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 0 10rem;
}
.feedback_headline {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.feedback_paragraph {
	text-align: center;
	font-size: 1.5rem;
	color: var(--secondary-gray);
	line-height: 1.2;
}
.flex_box {
	display: grid;
	grid-template-columns: repeat(3, 352px);
	justify-content: center;
	gap: 2rem;
	margin-top: 3rem;
}
.feedback_box {
	flex-direction: column;
	padding: 1.5rem 2rem;
	background: rgba(37, 40, 44, 1);
}
.feedback_image {
	width: 15%;
	position: relative;
}
/* .feedback_image::before {
	content: url(../image/on_profile.svg);
	position: absolute;
} */
.feedback_box_paragraph {
	margin-top: 1rem;
	font-size: 1.3rem;
	line-height: 1.5;
	letter-spacing: 1.2;
	color: var(--secondary-gray);
}
.feedback_title {
	margin-top: 1rem;
	font-size: 1.2rem;
}
.feedback_title span {
	color: var(--primary-blue);
}

.cta_section {
	margin: 0 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 4rem;
	background: var(--primary-blue);
	padding: 5rem;
	align-items: center;
	position: relative;
}
.cta_section::after {
	content: url(../image/CTA_Fill\ 1.svg);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0%;
}
.cta_headline {
	font-size: 3rem;
}
.cta_paragraph {
	font-size: 1.5rem;
}
.form input {
	width: 60%;
	padding: 1rem;
	background: rgba(75, 74, 207, 1);
	border: none;
	color: var(--primary-white);
}
.form input::placeholder {
	color: var(--secondary-gray);
}
.form input:focus {
	outline: var(--primary-blue);
}
.btn_subscribe {
	cursor: pointer;
	width: 20%;
	padding: 1rem;
	color: var(--primary-blue);
	border: none;
	font-weight: bold;
}
.footer {
	margin-top: 7rem;
	padding: 0 10rem;
}
.footer_grid {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
	gap: 4rem;
}
.footer_logo {
	margin-bottom: 1rem;
	width: 15%;
}
.footer_text {
	font-size: 1.2rem;
}
.footer span {
	color: var(--secondary-gray);
}
.footer ul {
	list-style: none;
}
.footer_header {
	margin-bottom: 1rem;
	color: var(--secondary-gray);
	font-size: 1.5rem;
}
.footer ul a {
	text-decoration: none;
	color: var(--secondary-gray);
	font-size: 1.2rem;
	line-height: 2;
}
.footer ul a:hover {
	text-decoration: underline;
}
.footer_media {
	margin-top: 4rem;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}
/* *************************
********SIGN UP PAGE
************************* */
.sign_up_con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10rem 0;
}
.sign_up_headline {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 3rem;
}
.google_sign_up {
	background: rgba(229, 61, 62, 1);
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	gap: 10rem;
	margin-bottom: 2.5rem;
}
.google_icon {
	font-size: 2.5rem;
}
.google_link {
	color: var(--primary-white);
	text-decoration: none;
	margin-right: 10rem;
	font-size: 1.5rem;
}
.try_this {
	text-align: center;
	font-size: 1.5rem;
	color: var(--secondary-gray);
	position: relative;
	margin-bottom: 3rem;
}
.try_this::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	width: 20%;
	background-color: var(--secondary-gray);
}
.try_this::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	height: 1px;
	width: 20%;
	background-color: var(--secondary-gray);
}
.box_lable {
	flex-direction: column;
}
.box_lable label {
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	color: var(--secondary-gray);
	margin-bottom: 0.51rem;
}
.box_lable input {
	padding: 1.2rem;
	background: var(--primary-black);
	border: solid thin var(--secondary-gray);
	border-radius: 3px;
	margin-bottom: 1.2rem;
}
.box_lable input::placeholder {
	font-size: 1.3rem;
}
.form_text {
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	color: var(--secondary-gray);
}
.form_text span {
	text-decoration: underline;
}
.btn_sign_up {
	display: flex;
	width: 100%;
	padding: 1rem;
	justify-content: center;
	background: var(--primary-blue);
	border: none;
	color: var(--primary-white);
	font-size: 1.3rem;
	margin-bottom: 2rem;
}
.aleardy_with_pro {
	font-size: 1.3rem;
	text-align: center;
}
.aleardy_with_pro a {
	text-decoration: none;
	color: var(--primary-blue);
}
/* ************************
Sign in
************************ */
.sign_in_con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10rem 0;
}
.sign_in_logo {
	margin: 5rem 10rem;
	width: 5%;
}
.forget_box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.forget_box span {
	display: flex;
	gap: 0.51rem;
	align-items: center;
	font-size: 1.3rem;
}
.forget_box a {
	text-decoration: none;
	font-size: 1.3rem;
}
